p.error
{
  display: none;
}
p.errorCheck
{
  color: rgb(255, 125, 125);
  transition: 1s ease-in-out; 
}

input.ng-touched.ng-invalid + p.error {
  display: block;
  color: rgb(255, 125, 125);
  transition: 1s ease-in-out;
}
input.ng-touched.ng-invalid .errorCheck {
  display: block;
  transition: 1s ease-in-out;
}

input[type='submit']:disabled
{
  background-color: rgb(168, 168, 168);
  cursor: not-allowed;
}