p.error
{
  display: none;
}
p.errorCheck
{
  color: rgb(255, 125, 125);
  transition: 1s ease-in-out; 
}

input.ng-touched.ng-invalid + p.error {
  display: block;
  color: rgb(255, 125, 125);
  transition: 1s ease-in-out;
}
input.ng-touched.ng-invalid .errorCheck {
  display: block;
  transition: 1s ease-in-out;
}

input[type='submit']:disabled
{
  background-color: rgb(168, 168, 168);
  cursor: not-allowed;
}
.bg-img
{
  position: relative;
}
.bg-img img{
  float: right;
}
.table-box
{
  width: 30rem;
  height: 16rem;
  overflow-y: scroll;
}
@media screen and (max-width: 480px)
{
  .table-box{
    width: inherit;
  }
}
table,th,tb
{
  border-collapse: collapse;
}
table
{
  width: 100%;
}
table th{
  position: sticky;
  top: 0;
}
table tr:nth-child(even)
{
  background-color: rgb(247, 247, 255);
}

#loader
{
  padding-top: 4rem;
  width: 65%;
  height: 100vh;
  cursor: no-drop;
}
tbody
{
  height: 80px;
  overflow-x: scroll;
  overflow-y: scroll;
}
::-webkit-scrollbar
{
  width: 8px;
}
::-webkit-scrollbar-track
{
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-left: 4px;
}
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: rgb(216, 213, 231);
}

@media screen and (min-width: 480px)
{
  #companyName
  {
    width: 34%;
  }
  #companyAddress
  {
    width: 50%;
  }
  #companyContact
  {
    width: 20%;
  }
}