p.error
{
  display: none;
}
p.errorCheck
{
  color: rgb(255, 125, 125);
  transition: 1s ease-in-out; 
}

input.ng-touched.ng-invalid + p.error {
  display: block;
  color: rgb(255, 125, 125);
  transition: 1s ease-in-out;
}
input.ng-touched.ng-invalid .errorCheck {
  display: block;
  transition: 1s ease-in-out;
}

input[type='submit']:disabled
{
  background-color: rgb(168, 168, 168);
  cursor: not-allowed;
}

.bg-img
{
  position: relative;
}
.bg-img img{
  float: right;
}

table
{
  width: 35rem;
}


#loader
{
  padding-top: 4rem;
  width: 65%;
  height: 100vh;
  cursor: no-drop;
}