<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <form [formGroup]="entryCompanyName" (ngSubmit)="onSubmit()" >
        <input class="form-control form-control-md my-2" formControlName="companyName" width="50%" type="text" id="companyName">
        <input type="submit" class="btn btn-warning" value="add">

      </form>
      <!-- {{companies | json }} -->
      <select id="company" >
  <option [value]="company.name" *ngFor="let company of companies">{{company.name}}</option>
</select>
      <div *ngFor="let company of companies">
        <p>{{company.name}}</p>
      </div>
    </div>
  </div>
</div>