input[type="submit"]:disabled
{
  background-color: gray;
  cursor: not-allowed;
}
p.error
{
  display: none;
}

input.ng-touched.ng-invalid + p.error {
  display: block;
  color: rgb(255, 125, 125);
  transition: 1s ease-in-out;
}