
<div class="text-3xl text-center ml-2 mt-8 text-black">
  Choose Entry-zone 🙋‍♀️
</div>
<div class="flex flex-wrap justify-center mt-2">
  <a [routerLink]="[ '/home/company-entry' ]">
    <div class="card text-left shadow-sm text-black hover:shadow-lg hover:text-black flex rounded-full justify-evenly px-4 py-4 m-2">
      <p class="text-xl px-1"><fa name="building"></fa></p>
      <p class="pt-1">Company Details</p>
    </div>
  </a>
  <a [routerLink]="[ '/home/category-entry' ]">
    <div class="card text-left shadow-sm text-black hover:shadow-lg flex rounded-full hover:text-black justify-evenly px-4 py-4 m-2">
      <p class="text-xl px-1"><fa name="sitemap"></fa></p>
      <p class="pt-1">Product Category</p>
    </div>
  </a>
  <a [routerLink]="[ '/home/product-entry' ]">
    <div class="card text-left shadow-sm text-black hover:shadow-lg flex rounded-full hover:text-black justify-evenly px-4 py-4 m-2">
      <p class="text-xl px-1"><fa name="adn"></fa></p>
      <p class="pt-1">Product Details</p>
    </div>
  </a>
  <a [routerLink]="[ '/home/retailers-entry' ]">
    <div class="card text-left shadow-sm text-black hover:shadow-lg flex rounded-full hover:text-black justify-evenly px-4 py-4 m-2">
      <p class="text-xl px-1"><fa name="user"></fa></p>
      <p class="pt-1">Retailer Details</p>
    </div>
  </a>
</div>