
<div class="text-3xl ml-2 mt-8">
  Choose entry-zone 🙋‍♀️
</div>
<div class="flex flex-wrap mt-2">
  <a [routerLink]="[ '/home/company-entry' ]">
    <div class="bg-teal-200 text-left shadow-md rounded-sm px-4 py-4 m-2">
      <p class="text-xl"><fa name="building"></fa></p>
      <p>Company Details</p>
    </div>
  </a>
  <div class="bg-teal-200 text-left shadow-md rounded-sm px-4 py-4 m-2">
    <p class="text-xl"><fa name="sitemap"></fa></p>
    <p>Product Category</p>
  </div>
  <div class="bg-teal-200 text-left shadow-md rounded-sm px-4 py-4 m-2">
    <p class="text-xl"><fa name="adn"></fa></p>
    <p>Product Details</p>
  </div>
  <div class="bg-teal-200 text-left shadow-md rounded-sm px-4 py-4 m-2">
    <p class="text-xl"><fa name="user"></fa></p>
    <p>Retailer Details</p>
  </div>
</div>