<div class="absolute w-9/12 h-screen" id="loader" *ngIf="showSpinner">
  <app-spinner></app-spinner>
</div>

<div
  class="w-full h-full pl-64 pt-20 ml-1 sm:ml-24 fixed rounded-md"
  (click)="viewCart($event)"
  style="background-color: rgba(240, 240, 240, 0.363);"
  *ngIf="showCart"
>
  <div class="bg-indigo-600 mx-auto p-4 shadow-2xl rounded-sm inline-block">
    <div class="flex justify-between">
      <p class="text-xl text-indigo-200">Current Carted..</p>
      <p
        class="text-sm text-indigo-200 cursor-pointer"
        (click)="viewCart($event)"
      >
        ❌
      </p>
    </div>
    <p *ngIf="totalCarted >= 1 ? true : false">
      Total Items: {{ totalCarted }}
    </p>
    <p *ngIf="totalCarted == 0 ? true : false">Empty Cart☹</p>
    <div *ngFor="let item of carted">
      <div
        class="flex py-2 rounded-lg"
        *ngIf="item.productCount >= 1 ? true : false"
      >
        <p class="px-4 w-1/3">{{ item.productName }}</p>
        <p class="px-4">{{ item.productTotalGSTPrice }}</p>
        <p class="px-4">{{ item.productCount }}</p>
        <p class="px-4">{{ item.priceSum }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-8 ml-1 sm:ml-24">
  <div class="container">
    <div class="text-2xl my-2">
      Cart Your Favorite 🧐
    </div>
    <div class="flex flex-wrap justify-start">
      <input
        type="text"
        [(ngModel)]="term"
        placeholder="Search product.."
        class="bg-indigo-100 w-1/3 px-2 mr-2 py-2 rounded my-2"
      />
      <p class="text-2xl text-red-800 cursor-pointer">
        <fa name="cart-arrow-down" (click)="viewCart($event)"></fa>
      </p>
    </div>
  </div>
  <div class="table-box">
    <table class="border-collapse">
      <thead>
        <tr class="">
          <th
            class="text-center w-2/12 rounded-l-md bg-red-600 text-white px-2 py-2"
          >
            Product Name
          </th>
          <th class="text-center w-2/12 bg-red-600 text-white px-2 py-2">
            Price
          </th>
          <!-- <th class="text-center w-1/12 bg-red-600 text-white px-2 py-2">GST(%)</th> -->
          <th class="text-center w-2/12 bg-red-600 text-white px-2 py-2">
            Price(inc GST)
          </th>
          <th
            class="text-center w-2/12 rounded-r-md bg-red-600 text-white px-2 py-2"
          >
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products | filter: term">
          <td class="text-center border-2 py-1 text-black">
            {{ item.productName | uppercase }}
          </td>
          <td class="text-center border-2 py-1 text-black">
            <p class="text-sm">
              {{ item.productPrice }} ({{ item.productGST }})
            </p>
          </td>
          <td class="text-center border-2 py-1 text-black">
            <p class="text-sm">{{ item.productTotalGSTPrice }}</p>
          </td>
          <td class="text-center border-2 py-1">
            <div class="flex align-middle my-1 justify-center pl-2">
              <p
                class="text-lg text-black py-1 px-1 hover:bg-red-200 rounded-full cursor-pointer"
                id="pluse"
              >
                <fa name="plus" (click)="addProduct($event, item)"></fa>
              </p>
              <p class="text-xl text-black px-1" id="count">0</p>
              <p
                class="text-lg text-black py-1 px-1 hover:bg-red-200 rounded-full cursor-pointer"
                id="minus"
                (click)="removeProduct($event, item)"
              >
                <fa name="minus"></fa>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- billing form  -->
  
  <div class="text-xl mt-4 text-black">
    Billing Details
  </div>
  <div class="mt-6">
    <form [formGroup]="billing" (ngSubmit)="doBill()" >
      <input
        type="text"
        placeholder="Customer Name.."
        class="block rounded bg-gray-200 my-3 px-2 py-3 mr-4 w-full md:w-1/3"
        formControlName="customerName"
      />
      <div class="flex flex-wrap">
        <input
          type="text"
          placeholder="Customer Address.."
          class="block rounded bg-gray-200 my-3 px-2 mr-4 py-3 w-full md:w-1/3"
          formControlName="customerAddress"
        />
        <input
          type="text"
          placeholder="Mobile No.."
          class="block rounded bg-gray-200 my-3 px-2 py-3 w-full md:w-1/3"
          formControlName="customerContact"
        />
      </div>
      <div class="flex flex-wrap">
        <input
          type="text"
          placeholder="Total Price"
          disabled
          [(ngModel)]="totalCartedAmount"
          class="block rounded mr-2 my-3 px-2 cursor-not-allowed py-3 w-full md:w-1/6"
          formControlName="totalAmount"
        />
        <input
          type="text"
          placeholder="Payable"
          [(ngModel)]="payable"
          (ngModelChange)="doCalc($event)"
          class="block rounded bg-gray-200 mr-2 my-3 px-2 py-3 w-full md:w-1/6"
          formControlName="payableAmount"
        />
        <input
          type="text"
          placeholder="Due"
          [(ngModel)]="due"disabled
          class="block rounded mr-2 my-3 px-2 py-3 cursor-not-allowed w-full md:w-1/6"
          formControlName="dueAmount"
        />
      </div>
      <input
      [disabled]="!billing.valid"
        type="submit"
        value="Proceed"
        class="px-2 py-1 bg-indigo-700 text-white rounded cursor-pointer inline-block"
      />
    </form>
  </div>
</div>
