<div class="absolute w-9/12 h-screen" id="loader" *ngIf="showSpinner">
  <app-spinner></app-spinner>
</div> 
<div class="container">
  <div class="container pt-4">
    <input
      type="text"
      [(ngModel)]="term"
      placeholder="Search Outlet.."
      class="bg-gray-100 px-2 py-2 rounded my-2"
      id="searchCompany"
    />
    <div class="table-box">

    <table>
      <thead>
        <tr class="">
          <th
            class="text-center w-1/4 rounded-l-md bg-indigo-700 text-white px-2 py-2"
          >
            Retailer's Name
          </th>
          <th class="text-center w-1/4 bg-indigo-700 text-white px-2 py-2">
            Address
          </th>
          <th
            class="text-center w-1/4 bg-indigo-700 text-white px-2 py-2"
          >
            Contact No
          </th>
          <th
            class="text-center w-1/4 bg-indigo-700 text-white px-2 py-2"
          >
            GST/PAN
          </th>
          <th
            class="text-center w-1/12 rounded-r-md bg-indigo-700 text-white px-2 py-2"
          >
            Remove
          </th>
        </tr>
      </thead>
      <tbody class="">
        <tr *ngFor="let item of retailers | filter: term">
          <td class="text-center border-2 py-1">{{ item.retailerName | uppercase }}</td>
          <td class="text-center border-2 py-1">
            {{ item.retailerAddress | uppercase }}
          </td>
          <td class="text-center border-2 py-1">{{ item.retailerContact }}</td>
          <td class="text-center border-2 py-1">{{ item.gstOrPanNumber }}</td>
          <td class="text-center border-2 py-1 text-red-600 cursor-pointer" (click)="deleteOutlet($event,item)"><fa name="trash"></fa></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  
</div>

