 <div class="wrapper">
  <div class="sidebar" *ngIf="!isHidden">
    <p class="text-center pt-4 cursor-pointer" (click)="toggleBtn()"><fa name="angle-double-left" size="2x"></fa></p>
    <a [routerLink]="['/home']">
      <div class="text-black leading-loose font-bold text-center mt-2 text-2xl" (click)="toggleBtn()">
        StockBox
      </div>
    </a>
    <div class="text-center mt-2">
      <img
        src="../../assets/undraw_profile_pic_ic5t.svg"
        class="mx-auto"
        width="30%"
        alt=""
      />
      <p class="text-black py-1">Welcome</p>
      <p>🤝</p>
      <p class="text-black py-1">{{ businessName }}</p>
    </div>
    <div class="mt-3 text-center card shadow rounded-md py-1 mx-4 rounded-lg">
      <a [routerLink]="['/home/entryZone']">
        <li class="text-center list-none py-1 text-xl text-black" (click)="toggleBtn()">
          Entry Zone
        </li>
      </a>
      <a [routerLink]="['/home/company-entry']">
        <li
          class="text-center list-none py-1 text-black hover:text-red-700 cursor-pointer" (click)="toggleBtn()"
        >
          Company Details
        </li>
      </a>
      <a [routerLink]="['/home/category-entry']">
        <li
          class="text-center list-none py-1 text-black hover:text-red-700 cursor-pointer" (click)="toggleBtn()"
        >
          Category Details
        </li>
      </a>
      <a [routerLink]="['/home/product-entry']">
        <li
          class="text-center list-none py-1 text-black hover:text-red-700 cursor-pointer" (click)="toggleBtn()"
        >
          Product Details
        </li>
      </a>
      <a [routerLink]="['/home/retailers-entry']">
        <li
          class="text-center list-none py-1 text-black hover:text-red-700 cursor-pointer" (click)="toggleBtn()"
        >
          Retailer Details
        </li>
      </a>
    </div>
    <div class="mt-3 text-center card rounded-md py-1 mx-4 rounded-lg">
      <li class="text-center list-none py-1 text-xl text-black">
        Debit Credit
      </li>
      <a [routerLink]="['/home/new-debit-credit']">
        <li
          class="text-center list-none py-1 text-black hover:text-red-700 cursor-pointer" (click)="toggleBtn()"
        >
          New Customer
        </li>
      </a>
      <a [routerLink]="['/home/old-debit-credit']">
        <li
          class="text-center list-none py-1 text-black hover:text-red-700 cursor-pointer" (click)="toggleBtn()"
        >
          Old Customer
        </li>
      </a>
    </div>
    <div class="mt-3 text-center card rounded-md py-1 mx-4 rounded-lg">
      <a [routerLink]="['/home/outlets']">
        <li class="text-center list-none py-1 text-xl text-black" (click)="toggleBtn()">
          Outlets
        </li>
      </a>
    </div>
    <div class="mt-3 text-center card rounded-md py-1 mx-4 rounded-lg">
      <li class="text-center list-none py-1 text-xl text-black">Stock</li>
      <a [routerLink]="['/home/products-view']">
        <li
          class="text-center list-none py-1 text-black hover:text-red-700 cursor-pointer" (click)="toggleBtn()"
        >
          View Products
        </li>
      </a>
      <a [routerLink]="['/home/billing']">
        <li
          class="text-center list-none py-1 text-black hover:text-red-700 cursor-pointer" (click)="toggleBtn()"
        >
          Billing out
        </li>
      </a>
    </div>
    <p class="text-center text-xs text-gray-500 mt-4">&copy;Copyright - 2020</p>
    <p
      class="text-xs text-center text-gray-400 hover:text-black focus:text-black mx-auto"
    >
      <a href="https://github.com/sayancoding">Develop By @backward_space</a>
    </p>
  </div>
  <div class="main-container">
    <div class="">
      <div class="navbar">
        <p
          (click)="toggleBtn()"
          class="text-center text-white text-3xl cursor-pointer"
        >
          <fa name="bars"></fa>
        </p>
        <div class="flex">
          <p class="text-black hidden sm:block pt-2">
            {{ businessName }}
          </p>
          <p
            (click)="authService.signOut()"
            class="card text-black ml-4 py-2 rounded-md px-4 cursor-pointer"
            >Sign Out</p
          >
        </div>
      </div>
      <div class="px-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> 
