.wrapper
{
  position: relative;
}
.home
{
  background-image: url(../../assets/bg-flat.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper
{
  display: flex;

}
.sidebar
{
  position: sticky;
  width: 280px;
  height: 120vh;
  background-color: rgba(239, 234, 255, 0.603);
  left: 0px;
  transition: 0.2s ease-in-out;
}
.main-container{
  width: calc(100% - 280px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  left: 0px;
  transition: 0.2s ease-in-out;
}
.navbar
{
  display: flex;
  padding:0 1rem 0 1rem ;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
}

.sidebar.hidden{
  display: hidden;
}
.main-container.large{
  position: absolute;
  width:100%;
}