.home
{
  background-image: url(../../assets/bg-flat.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper
{
  display: flex;

}
.sidebar
{
  position: relative;
  width: 280px;
  height: 100vh;
  background-color: rgba(239, 234, 255, 0.603);
  left: 0px;
  transition: 0.2s ease-in-out;
}
.main-container{
  padding-left: 2rem;
  width: calc(100% - 280px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  left: 0px;
  transition: 0.2s ease-in-out;
}
.navbar
{
  display: flex;
  padding:0 2rem 0 2rem ;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
}
.toggle-btn
{
  background-color: rgb(102, 31, 218);
  padding: 12px;
  margin: 4px;
  text-decoration: none;
  color: #fff;
}
.sidebar.hidden{
  display: hidden;
}
.main-container.large{
  position: absolute;
  width:100%;
}