<div class="mt-10 flex justify-center flex-wrap">
  <a [routerLink]="['./entryZone']">
    <div
      class="m-4 text-white text-center px-12 py-8 rounded-sm"
      id="entryZone"
    >
      <p class="text-center text-3xl">
        <i class="fa fa-database"></i>
      </p>
      <p>
        Entry Zone
      </p>
    </div>
  </a>
  <div class="bg-indigo-500 m-2 text-white text-center px-12 py-8 rounded-sm">
    <p class="text-center text-3xl">
      <i class="fa fa-database"></i>
    </p>
    <p>
      Entry Zone
    </p>
  </div>
  <div class="bg-indigo-500 m-4 text-white text-center px-12 py-8 rounded-sm">
    <p class="text-center text-3xl">
      <i class="fa fa-database"></i>
    </p>
    <p>
      Entry Zone
    </p>
  </div>
  <div class="bg-indigo-500 m-4 text-white text-center px-12 py-8 rounded-sm">
    <p class="text-center text-3xl">
      <i class="fa fa-database"></i>
    </p>
    <p>
      Entry Zone
    </p>
  </div>
</div>
